.additional-products {
  padding: 0 0 32px;

  @media (min-width: $tablet-width) {
    padding: 0 0 76px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 86px;
  }
}

.additional-products__title {
  position: relative;

  display: inline-flex;
  margin: 0 0 35px;
  padding: 0 22px 0 0;

  &::after {
    content: "";
    position: absolute;
    top: 16px;
    left: 100%;

    width: 100vw;
    height: 2px;

    background-color: $green-400;
  }

  @media (min-width: $tablet-width) {
    margin: 0 0 75px;
    padding: 0 36px;

    &::after {
      top: 20px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 20px;
      right: 100%;

      width: 100vw;
      height: 2px;

      background-color: $green-400;
    }
  }
}

.additional-products__content {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.additional-products__list {
  margin: 0 0 32px;

  @media (min-width: $tablet-width) {
    margin: 0 0 69px;

    border: 1px solid $grey-500;
  }

  @media (min-width: $desktop-width) {
    width: 73%;
    margin: 0;

    border-right: none;
    border-left: none;
  }
}

.additional-products__item {
  position: relative;

  padding: 13px 0 19px;

  &::before,
  &::after {
    @include decor-pseudo-border;
  }

  &::before {
    left: 50%;
  }

  &::after {
    right: 50%;
  }

  @media (min-width: $tablet-width) {
    padding: 27px 37px;

    border-bottom: 1px solid $grey-500;

    &:last-child {
      border: none;
    }

    &::before,
    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
    padding: 15px 0 17px;
  }
}
