.contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 28px 0 26px;

  &--special-padding {
    padding: 34px 0 20px;
  }

  @media (min-width: $tablet-width) {
    align-items: center;
    min-height: 201px;
    padding: 41px;

    &--theme-white {
      position: relative;

      background-color: $white-400;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 0;

        width: 100vw;
        height: 100%;

        background-color: $white-400;
      }

      &::before {
        left: 100%;
      }

      &::after {
        right: 100%;
      }
    }

    &--no-theme-white {
      background-color: transparent;

      &::before,
      &::after {
        display: none;
      }
    }
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 95px;
    left: 110px;

    width: 570px;
    padding: 55px 85px 51px 76px;

    background-color: $white-400;

    &::before,
    &::after {
      display: none;
    }
  }
}

.contacts__title {
  max-width: 140px;
  margin: 0;

  font-size: 16px;
  line-height: 20px;
  color: $black-350;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }
}

.contacts__text {
  max-width: 140px;
  margin: 0;

  line-height: 20px;
  font-family: $basic-font;
  color: $grey-700;

  @media (min-width: $tablet-width) {
    min-width: 159px;

    font-size: 16px;
    text-align: right;

    &--special {
      display: block;
      margin: 18px 0 0;
    }
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}
