$text-width-desktop: 436px;
$offset-background: 325px;

.example {
  padding: 27px 0 25px;

  background-color: $grey-450;

  @media (min-width: $tablet-width) {
    padding: 0 0 65px;

    background-color: transparent;
    background-image: linear-gradient(to top, $grey-450 462px, transparent 462px, transparent 100%);
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 65px;

    background-image: linear-gradient(to left, $grey-450 calc(50% - #{$offset-background}), $grey-400 calc(50% - #{$offset-background}), $grey-400 100%);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: auto 462px;
  }
}

.example__title {
  margin: 0 0 33px;

  @media (min-width: $tablet-width) {
    margin: 0 0 65px;
  }

  @media (min-width: $desktop-width) {
    margin: 46px 0 146px;
  }
}

.example__desc {
  margin: 0 0 25px;

  @include format-text;

  @media (min-width: $tablet-width) {
    margin: 0 0 53px;

    @include format-text-tablet;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 70px;
  }
}

.example__content {
  @media (min-width: $desktop-width) {
    display: grid;

    gap: 175px;
    grid-template-columns: $text-width-desktop calc(100% - #{$text-width-desktop});
  }
}

.example__content-result {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 0 80px;
  }

  @media (min-width: $desktop-width) {
    display: block;
    margin: 0;
  }
}

.example__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 0 34px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
    margin: 0 0 55px;
  }
}

.example__item {
  margin: 0 31px 0 0;

  &:last-child {
    margin: 0;
  }

  @media (min-width: $tablet-width) {
    margin: 0 42px 0 0;
  }
}

.example__—Åosts {
  margin: 0 0 42px;

  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    margin: 10px 0 0;

    font-size: 20px;
    line-height: 26px;
    text-align: right;

    br {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    text-align: left;

    br {
      display: none;
    }

    &--special {
      margin: 0 0 0 62px;
    }
  }
}
