.example {
  padding: 27px 0 25px;

  background-color: $grey-450;

  @media (min-width: $tablet-width) {
    padding: 0;

    background-color: transparent;
  }
}

.example__title {
  margin: 0 0 33px;
}

.example__desc {
  margin: 0 0 25px;

  @include format-text;

  @media (min-width: $tablet-width) {
    margin: 0 0 53px;

    @include format-text-tablet;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 70px;
  }
}

.example__content {
  @media (min-width: $desktop-width) {
    display: grid;

    gap: 80px;
    grid-template-columns: 1fr 1fr;
    background-color: $grey-400;
  }
}

.example__content-result {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 59px;
  }

  @media (min-width: $desktop-width) {
    display: block;
    margin: 0;
  }
}

.example__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 15px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 55px;
  }
}

.example__сosts {
  margin: 0 0 42px;

  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}
