.features__list {
  @media (min-width: $tablet-width) {
    display: grid;

    gap: 60px;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    gap: 80px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.features__title {
  margin: 0 0 38px;

  @media (min-width: $tablet-width) {
    margin: 0 0 77px;
  }
}

.features__item {
  display: flex;
  margin: 0 0 20px;

  @include format-text;

  &:last-child {
    margin: 0;
  }

  &::before {
    content: "";

    min-width: 60px;
    height: 60px;
    margin: 0 20px 0 0;

    background-color: $green-400;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--theme-healthy::before {
    background-image: url("../img/features-healthy.svg");
  }

  &--theme-powdery::before {
    background-image: url("../img/features-powdery.svg");
  }

  &--theme-food::before {
    background-image: url("../img/features-food.svg");
  }

  &--theme-thime::before {
    background-image: url("../img/features-thime.svg");
  }

  @media (min-width: $tablet-width) {
    @include format-text-tablet;
  }
}
