.features {
  @media (min-width: $tablet-width) {
    padding: 0 0 47px;
    border-bottom: 1px solid $grey-325;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    border: none;
  }
}

.features__list {
  @media (min-width: $tablet-width) {
    display: grid;

    column-gap: 60px;
    row-gap: 37px;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    gap: 80px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.features__title {
  margin: 0 0 38px;
}

.features__item {
  display: flex;
  margin: 0 0 20px;

  @include format-text;

  &:last-child {
    margin: 0;
  }

  &::before {
    content: "";

    min-width: 60px;
    height: 60px;
    margin: 0 20px 0 0;

    background-color: $green-400;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--theme-healthy::before {
    background-image: url("../img/features-healthy.svg");
  }

  &--theme-powdery::before {
    background-image: url("../img/features-powdery.svg");
  }

  &--theme-food::before {
    background-image: url("../img/features-food.svg");
  }

  &--theme-thime::before {
    background-image: url("../img/features-thime.svg");
  }

  @media (min-width: $tablet-width) {
    position: relative;

    display: block;
    margin: 0;
    padding: 40px 0 68px;

    @include format-text-tablet;

    &::before {
      display: block;
      width: 80px;
      height: 80px;
      margin: 0 0 31px;
    }

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;

      font-size: 280px;
      line-height: 280px;
      font-family: $custom-font;
      color: $grey-400;
    }

    &--theme-healthy::after {
      content: "1";
    }

    &--theme-powdery::after {
      content: "2";
    }

    &--theme-food::after {
      content: "3";
    }

    &--theme-thime::after {
      content: "4";
    }
  }
}
