.features {
  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    position: relative;

    padding: 0 0 36px;

    &::before,
    &::after {
      @include decor-pseudo-border;
    }

    &::before {
      right: 50%;
    }

    &::after {
      left: 50%;
    }
  }
}

.features__list {
  @media (min-width: $tablet-width) {
    display: grid;

    column-gap: 60px;

    grid-template-columns: 1fr 1fr;
    row-gap: 26px;
  }

  @media (min-width: $desktop-width) {
    gap: 80px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.features__title {
  margin: 0 0 38px;

  @media (min-width: $tablet-width) {
    margin: 0 0 32px;
  }
}

.features__item {
  display: flex;
  align-items: center;
  margin: 0 0 20px;

  @include format-text;

  @media (max-width: $mobile-width-only) {
    &:last-child {
      margin: 0;
    }
  }

  &::before {
    content: "";

    min-width: 60px;
    height: 60px;
    margin: 0 20px 0 0;

    background-color: $green-400;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--theme-healthy::before {
    background-image: url("../img/features-healthy.svg");
  }

  &--theme-powdery::before {
    background-image: url("../img/features-powdery.svg");
  }

  &--theme-food::before {
    background-image: url("../img/features-food.svg");
  }

  &--theme-thime::before {
    background-image: url("../img/features-thime.svg");
  }

  @media (min-width: $tablet-width) {
    position: relative;

    display: block;
    margin: 0;
    padding: 40px 0 68px;

    @include format-text-tablet;

    &::before {
      display: block;
      width: 80px;
      height: 80px;
      margin: 0 0 31px;
    }

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;

      font-size: 280px;
      line-height: 280px;
      font-family: $custom-font;
      color: $grey-400;
    }

    &--theme-healthy::after {
      content: "1";
    }

    &--theme-powdery::after {
      content: "2";
    }

    &--theme-food::after {
      content: "3";
    }

    &--theme-thime::after {
      content: "4";
    }
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    &--theme-healthy {
      margin: 0 94px 0 0;
    }

    &--theme-powdery {
      margin: 0 78px 0 0;
    }

    &--theme-food {
      margin: 0 76px 0 0;
    }

    &--theme-thime {
      margin: 0 75px 0 0;
    }
  }
}
