.footer {
  position: relative;

  background-color: $grey-400;
}

.footer__contacts {
  @media (min-width: $desktop-width) {
    position: absolute;
    top: 95px;
  }
}

.footer__map {
  width: 100%;
  height: 362px;

  background-image: url("../img/map_mobile.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/map_mobile@2x.png");
  }

  @media (min-width: $tablet-width) {
    height: 400px;

    background-image: url("../img/map_tablet.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map_tablet@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/map_desktop.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map_desktop@2x.png");
    }
  }
}

.footer__bottom {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 150px;
    padding: 21px 0 32px;
  }

  @media (min-width: $desktop-width) {
    padding: 24px 0 29px;
  }
}

.footer__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 95px;
  padding: 20px 0;

  @media (max-width: $mobile-width-only) {
    border-bottom: 1px solid $grey-425;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.footer__logo-link {
  margin: 8px 0 0;
  display: block;

  &--not-main {
    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }
}

.footer__logo-img {
  vertical-align: middle;
}

.footer__social {
  @media (max-width: $mobile-width-only) {
    border-bottom: 1px solid $grey-425;
  }

  @media (min-width: $tablet-width) {
    margin: 0 0 0 30px;
  }
}

.footer__copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.footer__copyright-text {
  font-size: 16px;
  line-height: 18px;
  font-family: $basic-font;

  @media (min-width: $tablet-width) {
    margin: 0 22px 0 0;
  }
}

.footer__copyright-link {
  color: $grey-700;
}

.footer__copyright-text:hover + .footer__copyright-link {
  color: $green-400;
}

.footer__copyright-text + .footer__copyright-link:hover {
  color: $green-400;
}

.footer__copyright-text:active + .footer__copyright-link {
  opacity: 0.3;
}

.footer__copyright-link:active {
  opacity: 0.3;
}

.footer__copyright-icon {
  vertical-align: top;
}
