.footer {
  position: relative;

  &--theme-smoke {
    background-color: $grey-400;
  }
}

.footer__contacts {
  @media (min-width: $desktop-width) {
    position: absolute;
    top: 95px;
  }
}

.footer__map {
  width: 320px;
  height: 362px;

  @media (min-width: $tablet-width) {
    min-width: 768px;
    height: 400px;
    margin: 0 0 0 -30px;
  }

  @media (min-width: $desktop-width) {
    min-width: 1440px;
    height: 400px;
    margin: 0 0 0 -110px;
  }
}

.footer__bottom {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 150px;
    padding: 25 0;

    background-color: $grey-400;
  }
}

.footer__logo {
  padding: 39px 0 32px;

  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (max-width: $mobile-width-only) {
    position: relative;

    &::before,
    &::after {
      @include decor-pseudo-border;
    }

    &::before {
      right: 50%;
    }

    &::after {
      left: 50%;
    }
  }
}

.footer__logo-content {
  display: block;
}

.footer__logo-img {
  vertical-align: middle;
}

.footer__social {
  @media (max-width: $mobile-width-only) {
    position: relative;

    &::before,
    &::after {
      @include decor-pseudo-border;
    }

    &::before {
      right: 50%;
    }

    &::after {
      left: 50%;
    }
  }
}

.footer__copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.footer__copyright-text {
  font-size: 16px;
  line-height: 18px;
  font-family: $basic-font;
  color: $grey-700;

  @media (min-width: $tablet-width) {
    margin: 0 22px 0 0;
  }
}
