.form-top__fieldset {
  position: relative;

  margin: 0;
  padding: 0 0 25px;

  &--special-padding {
    padding: 22px 0 19px;
  }

  &::before,
  &::after {
    @include decor-pseudo-border;
    background-color: $grey-425;
  }

  &::before {
    right: 50%;
  }

  &::after {
    left: 50%;
  }

  @media (min-width: $tablet-width) {
    margin: 0 0 46px;

    &::before,
    &::after {
      display: none;
    }

    &--radio {
      padding: 25px 28px;

      border: 1px solid $grey-350;
    }
  }

  @media (min-width: $desktop-width) {
    width: 47%;
    margin: 0;
    padding: 0;

    &--radio {
      padding: 25px 28px;
    }
  }
}
