.header {
  @media (min-width: $desktop-width) {
    min-height: 130px;
  }
}

.header--opened {
  @media (max-width: $mobile-width-only) {
    .header__top {
      &::before,
      &::after {
        background-color: $grey-325;
      }
    }

    .header__main-nav {
      display: block;
    }

    .header__toggle {
      position: relative;

      background: none;

      &::before,
      &::after {
        content: "";
        position: absolute;
        bottom: 8px;
        left: 0;

        width: 24px;
        height: 2px;

        background-color: $black-400;
      }

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }
  }
}

.header--nojs {
  .header__top {
    justify-content: center;
  }

  .header__toggle {
    display: none;
  }

  .header__main-nav {
    display: block;
  }
}

.header__container {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 0 0;
  }

  @media (min-width: $desktop-width) {
    margin: 33px auto 0;
  }
}

.header__top {
  @media (max-width: $mobile-width-only) {
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11px 0 17px;

    &::before,
    &::after {
      background-color: $grey-425;

      @include decor-pseudo-border;
    }

    &::before {
      right: 50%;
    }

    &::after {
      left: 50%;
    }
  }
}

.header__logo {
  display: block;

  &--not-main {
    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }
}

.header__logo-img {
  vertical-align: middle;

  @media (min-width: $tablet-width) {
    width: 174px;
    height: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
  }
}

.header__toggle {
  width: 24px;
  height: 18px;

  background-image: linear-gradient(to top, $black-400 2px, transparent 2px, transparent 8px, $black-400 8px, $black-400 10px, transparent 10px, transparent 16px, $black-400 16px);
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.4;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.header__main-nav {
  @media (max-width: $mobile-width-only) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    max-width: 70%;
    margin: auto 0 2px;
  }

  @media (min-width: $desktop-width) {
    max-width: 600px;
    margin: auto 0 5px;
  }
}
