.main-nav__list {
  @media (max-width: $mobile-width-only) {
    text-align: center;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.main-nav__item {
  @media (max-width: $mobile-width-only) {
    position: relative;

    padding: 22px 0 21px;

    &::after,
    &::before {
      background-color: $grey-325;

      @include decor-pseudo-border;
    }

    &::before {
      right: 50%;
    }

    &::after {
      left: 50%;
    }
  }

  @media (min-width: $tablet-width) {
    margin: 0 35px 0 0;
    padding: 0 0 6px;

    &:last-child {
      margin: 0;
    }

    &--current {
      border-bottom: 2px solid $green-400;

      .main-nav__link:hover,
      .main-nav__link:active {
        opacity: 1;
      }
    }
  }

  &--theme-white {
    @media (min-width: $desktop-width) {
      border-color: $white-400;
    }
  }
}

.main-nav__link {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: $black-400;
  text-transform: uppercase;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;

    &--theme-white {
      color: $white-400;
    }
  }
}
