.main-product {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  @media (min-width: $mobile-tablet-width) {
    $background-translate-y: 81px;

    justify-content: center;
    align-items: flex-start;

    text-align: center;

    background-image: linear-gradient(to top, $grey-400 calc(100% - #{$background-translate-y}), transparent calc(100% - #{$background-translate-y}), transparent 100%);
  }
}

.main-product__info-content {
  width: 50%;


  @media (min-width: $mobile-tablet-width) {
    width: 100%;
    margin: 0 0 33px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 35px;
  }
}

.main-product__title {
  margin: 0 0 15px;

  text-transform: uppercase;

  @media (min-width: $mobile-tablet-width) {
    max-width: 150px;
    margin: 0 auto 16px;

    .break {
      display: inline;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto 19px;
  }
}

.main-product__link-title {
  color: $black-300;

  &:hover {
    text-shadow: 2px -2px 2px $grey-525;
    opacity: 0.9;
  }

  &:active {
    opacity: 0.7;
  }
}

.main-product__desc {
  width: 100%;
}

.main-product__link-img {
  order: -1;
  width: 50%;
  min-height: 112px;

  text-align: center;

  transition-property: transform, filter;
  transition-duration: 0.3s;

  &:hover {
    transform: scale(1.05);
    filter: drop-shadow(10px 10px 5px rgba($black-400, 0.5)) sepia(20%);
  }

  &:active {
    transform: scale(0.9);
    filter: drop-shadow(5px 5px 2px rgba($black-400, 0.5)) sepia(10%);
  }

  @media (min-width: $mobile-tablet-width) {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    min-height: 208px;
    margin: 0 0 33px;
  }

  @media (min-width: $desktop-width) {
    min-height: 198px;
    margin: 0 0 44px;
  }
}

.main-product__img {
  margin: 11px 0 0;

  vertical-align: bottom;

  &--special-margin {
    margin: 26px 0 0;
  }

  @media (min-width: $mobile-tablet-width) {
    margin: 0;

    &--offset {
      position: relative;
      top: 6px;
    }

    &--special-margin {
      margin: 0;
    }
  }

  @media (min-width: $desktop-width) {
    &--offset {
      position: static;
    }
  }
}

.main-product__button {
  order: 1;
  align-self: flex-end;
  margin: 12px 0 0;
  padding: 10px 25px;

  @media (min-width: $mobile-tablet-width) {
    margin: 0;

    font-size: 16px;
  }
}
