.main__promo {
  @media (max-width: $mobile-width-only) {
    margin: 0 0 22px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 82px;
  }
}

.main__programs {
  margin: 0 0 27px;

  @media (min-width: $tablet-width) {
    margin: 0 0 45px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 71px;
  }
}

.main__features {
  margin: 0 0 42px;

  @media (min-width: $desktop-width) {
    margin: 0 0 11px;
  }
}

.main__title {
  margin: 0 0 37px;

  @media (min-width: $tablet-width) {
    margin: 0 0 84px;

    &--special-margin {
      margin: 0 0 55px 39px;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 57px;
  }
}

.main__container {
  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    padding: 0 40px;
  }
}

.main__text {
  margin: 0 0 39px;

  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin: 0 0 66px;
  }
}

.main__main-products {
  margin: 0 0 28px;

  @media (min-width: $tablet-width) {
    margin: 0 0 8px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 12px;
  }
}
