$offset-mobile-tablet: 40px;
$offset-tablet: 60px;
$offset-x-desktop: 80px;
$offset-y-desktop: 63px;

@mixin size($col, $offset) {
  width: calc(100% / #{$col} - #{$offset});
}

.main-products__list {
  @media (min-width: $mobile-tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: -$offset-mobile-tablet/2;
  }

  @media (min-width: $tablet-width) {
    margin: -$offset-tablet/2;
  }

  @media (min-width: $desktop-width) {
    margin: -#{$offset-y-desktop/2} -#{$offset-x-desktop/2};
  }
}

.main-products__item {
  position: relative;

  padding: 20px 0 25px;

  &::before,
  &::after {
    background-color: $grey-475;

    @include decor-pseudo-border;
  }

  &::before {
    left: 50%;
  }

  &::after {
    right: 50%;
  }

  @media (min-width: $mobile-tablet-width) {
    margin: $offset-mobile-tablet/2;
    padding: 0 26px 30px;

    @include size(2, $offset-mobile-tablet);

    &::before,
    &::after {
      display: none;
    }

    &--all {
      margin: 100px $offset-mobile-tablet/2 $offset-mobile-tablet/2;
    }
  }

  @media (min-width: $tablet-width) {
    margin: $offset-tablet/2;
    padding: 0 38px 40px;

    @include size(2, $offset-tablet);

    &--all {
      margin: 110px $offset-tablet/2 $offset-tablet/2;
    }
  }

  @media (min-width: $tablet-desktop-width) {
    @include size(3, $offset-tablet);

    &--all {
      margin: 110px $offset-tablet/2 $offset-tablet/2;
    }
  }

  @media (min-width: $desktop-width) {
    margin: $offset-y-desktop/2 $offset-x-desktop/2;
    padding: 0 38px 40px;

    @include size(4, $offset-x-desktop);

    &--all {
      margin: 110px $offset-x-desktop/2 $offset-y-desktop/2;
    }
  }
}
