.page {
  height: 100%;

  font-weight: 400;
  font-size: 14px;
  font-family: $custom-font;
  color: $black-400;
}

.page__body {
  display: grid;
  align-content: start;
  min-width: 320px;
  min-height: 100%;
  margin: 0;

  grid-template-rows: min-content 1fr min-content;
}
