.page {
  height: 100%;

  font-weight: 400;
  font-size: 14px;
  font-family: "Oswald", "Arial", sans-serif;
  color: $black-400;
}

.page__body {
  display: grid;
  min-width: 340px;
  min-height: 100%;
  margin: 0;

  grid-template-rows: min-content 1fr min-content;
}
