.program {
  padding: 20px;

  background-color: $grey-400;

  @media (min-width: $tablet-width) {
    padding: 77px 0 53px 52px;
  }

  @media (min-width: $desktop-width) {
    padding: 52px;
  }
}

.program__content {
  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;

      background-repeat: no-repeat;
      background-size: contain;
    }

    &--slim {
      padding: 0 262px 0 0;

      &::after {
        right: 62px;

        width: 200px;
        height: 211px;

        background-image: url("../img/program-slim.svg");
      }
    }

    &--weight {
      padding: 0 296px 0 0;

      &::after {
        right: 34px;

        width: 268px;
        height: 200px;

        background-image: url("../img/program-weight.svg");
      }
    }
  }
}

.program__title {
  display: flex;
  align-items: center;
  margin: 0 0 29px;

  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin: 0 0 24px;

    &::before {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 73px;

    &::before {
      display: block;
    }
  }

  &::before {
    content: "";

    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &--theme-slim {
    &::before {
      width: 50px;
      height: 53px;
      margin: 0 19px 0 0;

      background-image: url("../img/program-slim.svg");
    }
  }

  &--theme-weight {
    &::before {
      width: 67px;
      height: 50px;
      margin: 0 11px 0 0;

      background-image: url("../img/program-weight.svg");
    }
  }
}

.program__slogan {
  margin: 0 0 15px;
  padding: 0 0 24px;

  border-bottom: 1px solid $grey-425;

  @include format-text;

  @media (min-width: $tablet-width) {
    margin: 0 0 48px;
    padding: 0;

    color: $black-400;

    border-bottom: none;

    @include format-text-tablet;
  }
}

.program__link {
  position: relative;

  padding: 0 41px 0 0;

  font-size: 16px;
  line-height: 16px;
  color: $black-400;
  text-transform: uppercase;

  &::after {
    content: "";
    position: absolute;
    top: 10px;
    right: 0;

    width: 20px;
    height: 2px;

    background-color: $black-400;
  }

  &::before {
    content: "";
    position: absolute;
    top: 6px;
    right: 0;

    border: 5px solid $black-400;
    border-top-color: transparent;
    border-right-width: 0;
    border-bottom-color: transparent;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;

    &::after {
      top: 16px;
    }

    &::before {
      top: 12px;
    }
  }
}
