.program {
  padding: 21px 22px 18px;

  background-color: $grey-400;

  @media (min-width: $tablet-width) {
    padding: 77px 0 57px 52px;
  }

  @media (min-width: $desktop-width) {
    padding: 41px 52px 58px;
  }
}

.program__content {
  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;

      background-repeat: no-repeat;
      background-size: contain;
    }

    &--slim {
      padding: 0 262px 0 0;

      &::after {
        top: 4px;
        right: 62px;

        width: 200px;
        height: 211px;

        background-image: url("../img/cat-slim.svg");
      }
    }

    &--weight {
      padding: 0 303px 0 0;

      &::after {
        top: 14px;
        right: 30px;

        width: 268px;
        height: 200px;

        background-image: url("../img/cat-weight.svg");
      }
    }
  }
}

.program__title {
  display: flex;
  align-items: center;
  margin: 0 0 22px;

  text-transform: uppercase;

  &::before {
    content: "";

    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
  }

  &--theme-slim {
    &::before {
      width: 50px;
      height: 53px;
      margin: 0 19px 0 0;

      background-image: url("../img/cat-slim.svg");
    }
  }

  &--theme-weight {
    &::before {
      width: 67px;
      height: 50px;
      margin: 3px 11px 0 -9px;

      background-image: url("../img/cat-weight.svg");
    }
  }

  @media (min-width: $tablet-width) {
    margin: 0 0 24px;

    &::before {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 39px;

    &::before {
      display: block;
    }

    &--theme-slim {
      &::before {
        width: 100px;
        height: 106px;
        margin: 0 62px 0 0;
      }
    }

    &--theme-weight {
      &::before {
        width: 134px;
        height: 100px;
        margin: 6px 47px 0 -19px;
      }
    }
  }
}

.program__slogan {
  margin: 0 0 18px;
  padding: 0 0 22px;

  border-bottom: 1px solid $grey-425;

  @include format-text;

  br {
    display: none;

    @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
      display: block;
    }
  }

  @media (min-width: $tablet-width) {
    margin: 0 0 52px;
    padding: 0;

    color: $black-400;

    border-bottom: none;

    @include format-text-tablet;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 27px;
  }
}

.program__link {
  position: relative;

  margin: 0 0 0 -2px;
  padding: 0 39px 0 0;

  font-size: 16px;
  line-height: 16px;
  color: $black-400;
  text-transform: uppercase;

  &::after {
    content: "";
    position: absolute;
    top: 10px;
    right: 0;

    width: 24px;
    height: 2px;

    background-color: $black-400;
  }

  &::before {
    content: "";
    position: absolute;
    top: 5px;
    right: 0;

    border: 6px solid $black-400;
    border-top-color: transparent;
    border-right-width: 0;
    border-bottom-color: transparent;
  }

  @media (min-width: $tablet-width) {
    padding: 0 50px 0 0;

    font-size: 20px;
    line-height: 30px;

    &::after {
      top: 14px;
    }

    &::before {
      top: 9px;
    }
  }
}
