.program {
  padding: 20px;

  background-color: $grey-400;
}

.programs__item:not(:last-child) {
  margin: 0 0 20px;
}

.program__title {
  position: relative;

  margin: 0 0 22px;

  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &--theme-slim {
    padding: 9px 0 7px 69px;

    &::before {
      width: 50px;
      height: 53px;

      background-image: url(../../img/program-slim.svg);
    }
  }

  &--theme-weight {
    padding: 6px 0 7px 78px;

    &::before {
      width: 67px;
      height: 50px;

      background-image: url(../../img/program-weight.svg);
    }
  }
}

.program__slogan {
  margin: 0 0 15px;
  padding: 0 0 24px;

  line-height: 18px;
  font-family: "Arial", sans-serif;
  color: $grey-700;

  border-bottom: 1px solid $grey-425;
}

.program__link {
  position: relative;

  padding: 0 41px 0 0;

  font-size: 16px;
  line-height: 16px;
  color: $black-400;
  text-transform: uppercase;
  text-decoration: none;

  &::after {
    content: "";
    position: absolute;
    top: 10px;
    right: 0;

    width: 20px;
    height: 2px;

    background-color: $black-400;
  }

  &::before {
    content: "";
    position: absolute;
    top: 6px;
    right: 0;

    border: 5px solid $black-400;
    border-right-width: 0;
    border-top-color: transparent;
    border-bottom-color: transparent;

  }
}
