.promo {
  text-align: center;
  color: $white-400;

  background-image: linear-gradient(rgba($green-400, 0.85), rgba($green-400, 0.85)), url(../../img/background-cat-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 320px 302px;
}

.promo__title {
  margin: 0 0 25px;

  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.promo__slogan {
  margin: 0 0 29px;

  line-height: 14px;
  text-transform: uppercase;
}

.promo__image {
  width: 280px;
  height: 270px;
  margin: 0 0 3px;
}

.promo__button {
  margin: 0 auto;
  padding: 7px 74px;

  text-align: center;
}
