.promo {
  position: relative;
  text-align: center;
  color: $white-400;

  background-image: linear-gradient(rgba($green-400, 0.85), rgba($green-400, 0.85)), url("../img/background-cat-mobile.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 320px 302px;

  @media (min-width: $tablet-width) {
    margin: 0 0 0 87px;

    color: $black-400;
    text-align: left;
    background-image: none;
  }
}

.promo__title {
  margin: 0 0 25px;

  @media (min-width: $tablet-width) {
    margin: 0 0 41px;
  }
}

.promo__slogan {
  margin: 0 0 29px;

  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin: 0 0 49px;
  }
}

.promo__image {
  width: 280px;
  height: 270px;

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.promo__button {
  padding: 7px 26px;

  @media (max-width: $mobile-width-only) {
    width: 100%;
  }

  @media (min-width: $tablet-width) {
    padding: 14px 26px;
  }
}
