.promo {
  padding: 27px 0 0;

  text-align: center;
  color: $white-400;

  background-image: url("../img/background-cat_mobile.jpg"), linear-gradient($green-450, $green-450);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto 302px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background-cat_mobile@2x.jpg"), linear-gradient($green-450, $green-450);
  }

  @media (min-width: $tablet-width) {
    position: relative;

    padding: 40px 0 526px;

    text-align: left;
    color: $black-400;

    background-image: none;
  }

  @media (min-width: $desktop-width) {
    padding: 0;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      z-index: -1;

      width: 50%;
      height: 694px;

      background-color: $green-450;
      background-image: url("../img/background-cat_desktop.jpg");
      background-repeat: no-repeat;
      background-position: bottom right;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/background-cat_desktop@2x.jpg");
        background-size: auto 694px;
      }
    }
  }
}

.promo__content {
  @media (min-width: $tablet-width) {
    margin: 0 0 0 87px;
  }

  @media (min-width: $desktop-width) {
    position: relative;

    margin: 0 0 0 80px;
    padding: 83px 700px 185px 0;
  }
}

.promo__title {
  margin: 0 0 25px;

  @media (min-width: $tablet-width) {
    margin: 0 0 41px;
  }
}

.promo__slogan {
  margin: 0 0 29px;

  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin: 0 0 49px;

    font-size: 20px;
    line-height: 20px;
  }
}

.promo__image {
  width: 280px;
  height: 270px;
  margin: 0 0 3px;

  vertical-align: top;

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 0;
    left: 29px;
    z-index: -1;

    width: 709px;
    height: 609px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    top: 0;
    left: 370px;

    width: 552px;
    height: 499px;
  }
}

.promo__button {
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    width: 244px;
    margin: 0 0 0 -5px;

    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}
