.slider__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider__button {
  font-size: 16px;
  line-height: 20px;
  font-family: inherit;
  text-transform: uppercase;

  background-color: transparent;
  border: none;
}
