.slider {
  position: relative;

  text-align: center;

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    padding: 0 0 65px;

    background-image: linear-gradient(to top, $grey-450 462px, transparent 462px, transparent 100%);

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;

      width: 100vw;
      height: 100%;

      background-image: linear-gradient(to top, $grey-450 462px, transparent 462px, transparent 100%);
    }

    &::before {
      left: 100%;
    }

    &::after {
      right: 100%;
    }
  }
}

.slider__list {
  margin: 0 0 15px;

  @media (min-width: $desktop-width) {
    margin: 0 0 5px;
  }
}

.slider__item {
  display: none;

  &--current {
    display: block;
  }
}

.slider__img {
  vertical-align: bottom;

  @media (min-width: $tablet-width) {
    width: 354px;
    height: 535px;
  }

  @media (min-width: $desktop-width) {
    width: 365px;
    height: 536px;
  }
}

.slider__control {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
}

.slider__button {
  padding: 4px 18px;

  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.slider__range {
  position: relative;

  display: flex;
  align-items: center;
  min-width: 84px;
  height: 14px;
  padding: 3px 5px;

  background-color: $white-400;
  border: 1px solid $grey-500;
  border-radius: 6px;

  @media (min-width: $tablet-width) {
    min-width: 428px;
    height: 6px;

    background-color: $grey-375;
  }
}

.slider__bar {
  width: 40%;
  height: 6px;

  background-color: $green-400;
  border-radius: 6px;

  @media (min-width: $tablet-width) {
    width: 0;
  }
}

.slider__toggle {
  display: none;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: -12px;
    right: 194px;

    display: block;
    width: 34px;
    height: 34px;

    background-color: $white-400;
    border: 1px solid $grey-500;
    border-radius: 50%;
    box-shadow: inset 0 0 0 12px $white-400, inset 0 0 0 16px $green-400;
  }
}
