.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px 0 16px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.social__item {
  margin: 0 35px 0 0;

  &:last-child {
    margin: 0;
  }

  @media (min-width: $tablet-width) {
    margin: 0 28px 0 0;

    &:last-child {
      margin: 0;
    }
  }
}
