.title {
  margin: 0;

  font-weight: 400;

  &--s-small {
    font-size: 16px;
    line-height: 16px;
  }

  &--small {
    font-size: 16px;
    line-height: 20px;
  }

  &--s-medium {
    font-size: 24px;
    line-height: 24px;
  }

  &--medium {
    font-size: 24px;
    line-height: 37px;
  }

  &--large {
    font-size: 36px;
    line-height: 36px;
  }

  &--x-large {
    font-size: 36px;
    line-height: 40px;
  }

  &--theme-dark {
    color: $black-350;
  }
}
