@mixin format-text {
  line-height: 18px;
  font-family: $basic-font;
  color: $grey-700;
}

@mixin format-form-text {
  font-size: 16px;
  color: $grey-700;
}

@mixin format-product-desc {
  font-family: $basic-font;
  color: $grey-700;
}
