// Color

$black-300: #222222;
$black-350: #111111;
$black-400: #000000;
$green-400: #68b738;
$green-500: #5EAA2F;
$green-550: #5EAA2F;
$grey-350: #E7E7E7;
$grey-400: #f2f2f2;
$grey-425: #D9D9D9;
$grey-450: #eaeaea;
$grey-475: #EBEBEB;
$grey-500: #CDCDCD;
$grey-525: #BABABA;
$grey-550: #C4C4C4;
$grey-600: #666666;
$grey-700: #444444;
$red-200: #FF8282;
$white-400: #ffffff;

